<div class="container">

    <ecpl-explorer *ngIf="uploadedFiles?.length" [uploaderConfig]="upConfig" [uploadedFiles]="uploadedFiles"></ecpl-explorer>
    <!-- <pre *ngIf="uploadedFiles?.length">
        {{uploadedFiles|json}}
    </pre> -->

    <!-- <pre>{{upConfig | json}}</pre>

    <ecpl-image-viewer imgSrc="https://image.shutterstock.com/display_pic_with_logo/164881702/587008043/stock-photo-a-photo-of-the-road-near-the-dam-with-sunset-scene-587008043.jpg" imgType="jpg" imgName="Adler" id="hiudshhs">
    </ecpl-image-viewer>

    <hr>

    <ecpl-article-viewer articleName="Demo Atryicle" [(articleSrc)]="parentText" id="ghdsddjdj"></ecpl-article-viewer>

    <hr>

    <ecpl-onlyoffice-viewer onlyofficeSrc="https://easychair.org/publications/easychair.docx" onlyofficeKey="someUniqueKey" onlyofficeType="docx" onlyofficeName="Adler.docx" id="hiudshhs"></ecpl-onlyoffice-viewer>

    <hr>
    <ecpl-pdf-viewer id="tjdssdj" pdfSrc="http://lazarus.elte.hu/cet/publications/13-meissner2.pdf" pdfName="Architecture Diagram"></ecpl-pdf-viewer> -->
</div>